#socialmenu,
#photo-links,
.ui.cards,
#footermenu, #about-text, h4 {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 250;
  font-style: normal;
}

.second-city-summer {
 position: relative;
}

.designer-header {
  /* font-family: mr-eaves-modern, sans-serif;
   */
  font-family: essonnes-headline, serif;
  font-weight: 400;
  font-style: normal;

  position: relative;
  z-index: 100;
  margin: 2em 0;
}

.header-background {
  height: 2em;
  width: 23em;
  background-color: #96A5CE;
  position: absolute;
  top: 5.3em;
  left: 3em;
  z-index: 0;
}

#scs-logo {
  margin-bottom: 2em;
}

#socialmenu {
  z-index: 100;
  padding: 0em 1em 1em 1em;
  height: 100%;
  width: 6em;
}

/* INDEX CSS */
#home-img {
  margin-top: 5em;
  margin-right: 0em;
}

#line1 {
  width: 0.2em;
  height: 15em;
  background-color: black;
  position: absolute;
  top: 12em;
  left: 10em;
}

#headline {
  position: absolute;
  top: 2em;
  left: 2.5em;
  font-family: essonnes-headline, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3.2em;
}

#bio {
  position: absolute;
  /* left: 6em; */
  top: 37em;
  opacity: 0.5;
  /* width: 25em; */
  align-content: left;
}

#headline-name,
#about-headline {
  font-family: essonnes-headline, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.2em;
}

/* ABOUT CSS */
#about-headline {
  font-size: 1.4em;
}

#about-text {
  margin-top: 2.7em;
}

#about-text p {
  font-size: 1.4em;
  font-weight: 250;
}

h4 {
  font-weight: 400;
  font-size: 1.5em;
}

h4 a {
  color: #96A5CE;
}

#about-photo {
  margin-top: 3em;
}

#photo-links {
  font-size: 1.8em;
  letter-spacing: 0.03em;
}

/* DEVELOPER CSS */
.ui.cards {
  margin: 1em;
  font-weight: 600;
  font-size: 1.1em;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 6em;
  z-index: 1;
}

#footermenu {
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

#footer-item {
  padding: 0 1em;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
@media screen and (min-device-width: 1200px) {
  header {
    display: none;
  }
}

@media screen and (max-device-width: 1200px) {
  .bg-light {
    background-color: white !important;
    border-bottom: 1px solid grey;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 1.3em;
    letter-spacing: 0.1em;
  }
  #socialmenu,
  footer,
  #line1,
  #emptycolumn {
    display: none;
  }

  #home-img {
    margin-top: 0;
  }

  #headline {
    left: 1em;
    font-size: 1.7em;
  }

  #bio {
    position: relative;
    left: 0;
    top: 0;
  }

  #about-text {
    margin: 0;
  }
  #about-photo {
    margin-top: 0;
  }

  .ui.three.stackable.cards, .ui.special.cards {
    justify-content: center;
  }
}

@media only screen and (max-width: 760px) {
  .designer-header {
    margin: 2em .5em;
  }
  #chicago-stories-img, #second-city-img {
    margin: 0 3rem;
  }
  #scs-logo {
    margin: auto;
    width: 200px;
    height: auto;
  }
}